<div class = "container bg-secondary">

<%= render 'shared/user', user: @user %>
  <% @posts.each do |post| %>
    <a href="/users/<%= post.author.id %>/posts/<%= post.id %>" class="text-decoration-none">
      <div class="mb-3">
        <%= render 'shared/post', post: post %>
        <%= render 'shared/comment', comments: post.latest_comments unless post.latest_comments.empty? %>
      </div>
    </a>
  <% end %>
  <div class="w-90 mt-5 d-flex justify-content-center align-items-center ">
    <a href="/users/<%=  @user.id  %>/posts" class="btn bg-white m-1">1</a>
  </div>

</div>
