<div class = "container bg-secondary">
    <a href="/users/<%= @post.author.id %>/posts/<%= @post.id %>" class="text-decoration-none">
      <div class="mb-3">
        <%= render 'shared/post', post:@post %>
        <div class= "row p-3 border">
        <%= link_to 'Add a new commment', "/users/#{@current_user.id}/posts/#{@post.id}/comments/new", class: "btn bg-white" %>
        <%= render partial: "shared/like", locals: { like: Like.new, post_id: @post.id, user_id: @post.author.id } %>
        </div>
        <%= render 'shared/comment', comments: @post.comments unless @post.comments.empty? %>
      </div>
    </a>
    <% if can?(:destroy, @post) %>
     <%= link_to 'Delete', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
</div>